<div class="fb-send-to-messenger" messenger_app_id='753039984832216'
  page_id="CAAKs4sjMLtgBACbNSA3adhDT76dxu4A2iqNsZBcsfPgCMeVBZCbB7yGI5SiPU6PbfpFyi2W7zEclj8YXYxCG9VLcWZCBVT4XsBBEFJt6tAH8XYu1Y0W6BJsT2L6YNSvHnYV6pAgIaZB7HWrzchURHT0eSdyFB8OKR0wkkhjg0yatEx3XBIZAedcSRZAFXuSHIZD"
  color="blue"
  size="standard"></div>

<script>
  window.fbAsyncInit = function() {
     console.log("he");
    FB.init({
      appId      : '753039984832216',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-send-to-messenger" messenger_app_id='753039984832216'
  page_id="CAAKs4sjMLtgBACbNSA3adhDT76dxu4A2iqNsZBcsfPgCMeVBZCbB7yGI5SiPU6PbfpFyi2W7zEclj8YXYxCG9VLcWZCBVT4XsBBEFJt6tAH8XYu1Y0W6BJsT2L6YNSvHnYV6pAgIaZB7HWrzchURHT0eSdyFB8OKR0wkkhjg0yatEx3XBIZAedcSRZAFXuSHIZD"
  color="blue"
  size="standard"></div>


<h1> my bot </h1>
<%= ActionView::Base.full_sanitizer.sanitize('<meta charset="utf-8"><meta charset="utf-8"><div><meta charset="utf-8"><li class="ProductCopy">Give your wardrobe a style update with these Red Atacosa Chino Shorts from Jacamo. Comfortable and practical, these shorts will be a key part of your seasonal style, perfect for holidays. Featuring a zip fly and belt loops, you can even roll these up for a trendy twist on an essential.</li><li class="ProductCopy">Machine washable.</li><li class="ProductCopy">Cotton.</li></div>') %>

<a href="https://m.me/CAAKs4sjMLtgBACbNSA3adhDT76dxu4A2iqNsZBcsfPgCMeVBZCbB7yGI5SiPU6PbfpFyi2W7zEclj8YXYxCG9VLcWZCBVT4XsBBEFJt6tAH8XYu1Y0W6BJsT2L6YNSvHnYV6pAgIaZB7HWrzchURHT0eSdyFB8OKR0wkkhjg0yatEx3XBIZAedcSRZAFXuSHIZD">Messenger</a>
<h1><%= t('welcome_message') %></h1>
